services:
  jenkins:
    build: ./jenkins
    container_name: jenkins-ci
    user: root  # Mantido root para evitar permissão negada no socket
    privileged: true
    ports:
      - "8080:8080"
    environment:
      # DOCKER_HOST removido, vamos usar o padrão
      JENKINS_HOME_HOST: ./jenkins_home
      TZ: Etc/GMT+3
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - default
    restart: unless-stopped

  sonarqube:
    image: sonarqube:lts
    container_name: sonarqube
    ports:
      - "9000:9000"
    volumes:
      - sonarqube-data:/opt/sonarqube/data
      - sonarqube-extensions:/opt/sonarqube/extensions
      - sonarqube-logs:/opt/sonarqube/logs
    restart: unless-stopped

volumes:
  sonarqube-data:
  sonarqube-extensions:
  sonarqube-logs: